<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>universityInfo</title>
</head>
<body>
    <strong>Университет: </strong>{{json.univetsityName}} <br>
    <strong>Ректор: </strong>{{json.rector}} <br>
    <strong>Местоположение:</strong> {{json.location.postalCode}}, {{json.location.city}}, {{json.location.streetAddress}}<br>
    <strong>Количествово административных подразделений: </strong>{{administration_units}}<br>
    <strong>Количествово научно-образовательных подразделений: </strong>{{eduсation_units}} <br>
    <strong>Количествово мегафакультетов: </strong>{{megafaculties}}<br>
    <strong>Количествово факультетов: </strong>{{faculties}} <br>
    <strong>Количествово кафедр: </strong>{{cathedrs}} <br>
    <p style="text-align: center;"><img src="http://www.ifmo.ru/file/news/4246/itmo_small_white_rus.jpg" width="550" height="400"></p>
</body>
</html>